.Books {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  padding: 20px;
  background-color: #fff;
}

.B1 h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.B1 h3 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #c5c5c5;
}

.B1 h4 {
  font-size: 15px;
  margin: 0;
  color: #c5c5c5;
  font-weight: 400;
}

.B1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 30%;
}

.B2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 30%;
  margin-left: 200px;
}

.B2 h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 100;
}

.B2 button {
  width: 150px;
  padding: 5px;
  color: #fff;
  background-color: #0290ff;
}

.B1 button {
  padding: 0;
}

.B2 h3 {
  font-size: 15px;
  margin: 0;
  font-weight: 50;
}

.comps {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 100px;
}

.comps a {
  color: #a5c5e1;
  margin-left: 20px;
  font-weight: 700;
}

.btn {
  font-size: 10px;
  width: 60px;
  margin-left: 10px;
  padding: 2px;
}

.mid-content {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.mid-content img {
  width: 80px;
  height: 60px;
}

.mid-content h3 {
  color: #c6c6c6;
}

span {
  margin: 0;
  padding: 0;
}
